header{
  background-color: #125997;
}

footer{
  background-color: #125997;
  padding: 5px;
}

header h1{
  color: #ffffff;
}

header h2, footer h4{
  color: #ffffff;
}

div{
  padding: 32px
  
}

body{
background-color: #FFC107
}


h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 0px;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  padding: 32px 0px 0px 0px
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 0px;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  padding: 0px 0px 32px 0px
}

nav{
  background-color: #125997;
  border: 10px solid #FFC107;
  padding: 20px;
  margin: 0px 0px 0px 0px;

  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #0B365B;

  font-style: normal;
  font-weight: bolder;
  letter-spacing: 0px;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #0B365B;

  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 100%;
  text-align: left;
  text-decoration: none;
  text-transform: none;

  padding: 0px 20% 0px 20%
}


li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #0B365B;

  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 100%;
  text-align: left;
  text-decoration: none;
  text-transform: none;

  list-style-position: inside;
  padding: 0px 20% 0px 20%;
}


h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #ffffff;

  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}
/*contact Will Lee*/



/* square selfie image rounded into circle*/

.selfie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

  border-radius: 50%
}


/* Google Maps of Harrisburg*/

.google-maps{
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: auto;
  align-content: auto;
}

/*contact*/
.contact{
  background-color: #125997;
  border: 10px solid #FFC107;
  padding: 20px;
  margin: 0px 0px 0px 0px;
  border-radius: 10%
}

.white-font{
  color: #FFFFFF;
}


/*psuedo-codes for links*/
a {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

a:link    { color: #FFFFFF;  }
a:visited { color: #50D1A7;   }
a:hover   { color: #CD3999; }
a:active  { color: #F26A3B;  }